@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  overflow: hidden;
}
#social-tab a svg{
    transition: all 200ms;
    color:#02050a;
}
#social-tab a svg:hover {
  color: #7c73e6;
}

.disable-click {
  pointer-events: none;
}

a {
    outline:none;
}

@layer utilities {
  /* button */
  .button {
    padding: 8px 12px;
    position: relative;
    top: 0;
    transition: all 200ms;
    border-width: 2px;
    outline:none;
  }
  .button:hover {
    top: -12px;
  }
  /* Full Width and Height to Parent */
  .full-w-h {
    width: 100%;
    height: 100%;
  }
  /* Main Layout Padding */
  .main-p-lg {
    top: 96px;
    bottom: 96px;
    right: 64px;
    left: 64px;
  }
  .main-p-md {
    top: 64px;
    bottom: 64px;
    right: 48px;
    left: 48px;
  }
  .main-p-sm {
    top: 64px;
    bottom: 64px;
    right: 16px;
    left: 16px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.loader {
    width: 128px;
    height: 128px;
    border: 5px solid #7C73E6;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 